* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100%;
}
.sidebar {
    
    font-family: "WDXL Lubrifont JP N", sans-serif;
    position: fixed;
    left: 0;
    background: rgb(75, 48, 17);
    width: 20%;
    height: 100%;
    border-radius: 15px;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgb(138, 90, 36);
    user-select: none;
    border-top-right-radius: 15px;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;


}

.right:hover a {
    padding-left: 70px;
    transition: 0.6s;
}


.sidebar ul a i {
    margin-right: 16px;
}

.gamejanle_list{
    transform: scaleY(0);
    transform-origin: center top;
    transition: all .6s; 
    
}

.gamejanle:hover .gamejanle_list{
    transform: scaleY(1);
}

body{
    background-color: black;
}
.content{
    position: fixed;
    width: 78%;
    margin-left: 21%;
    height: 100%;
    padding: 30px;
    background-image: url("Gemini_Generated_Image_29mzg729mzg729mz.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.content2{
    height: 100%;
    text-align: center;
    padding: 25px;
    
}
.home_h1{
    font-family: "Mochiy Pop P One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;  
}
.FPS・TPS{

}
.Fighting{

}
.Simulation{

}
.Music{

}
.home_p{
    margin-top: 20px;
    font-size:20px;
}
.home_h2{
    margin-top: 40px;
    font-size:30px;
}