html, body{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;

}
.sidebar {
    width: 30%;
    margin: 10px 0 10px 0;
}

.content {
    width: 70%;
    margin: 10px 0 10px 0;
}

#container {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}
h1{
    text-align: center;
    padding: 50px;
    border-bottom: solid black;
}
h2{
    margin-top: 100px;
}
p{
    
}
img{
    height: 300px;
    width: 100%;
}