html, body{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;

}
.sidebar {
    width: 15%;
    
}


.content {
    width: 70%;
    margin: 10px 0 10px 0; 
    border-left: solid gray 10px;
}
.content2{
    padding:0px 100px;
}

#container {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
}

